#TARGET_ID  DOMAIN_REQUIREMENT(S)
TOLL  TIR+>=3(LRR)
TLR TIR+>=3(LRR)
MYD88 TIR+DEATH
TCAM1 TIR
TCAM2 TIR
SARM1 TIR+2(SAM)
IRF IRF_DNA_BINDING_DOMAIN
NFKB  RHD+N(ANK_REPEAT)+DEATH
IKK KINASE
NEMO  (NEMO_DOMAIN(S))
IKB N{ANK_REPEAT)
TRAF  (MATH/TRAF+ZF_TRAF)OR(ZF+N(WD40_REPEAT))
TANK  TBK1/IKK_BINDING_DOMAIN
